<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of students</title>
</head>
<body>
    <h1> Students </h1>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students%}
                <tr>
                    <td>{{s['first_name']}}</td>
                    <td>{{s['last_name']}}</td>
                    <td>{{s['first_name']}} {{s['last_name']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>